.container{
    box-sizing: content-box;
    padding: 15px;
    width: 100%;
    h1{
        color: #F2F2F2;
        display: inline-block;
        font-family: 'Fira Sans Condensed';
        font-size: 25px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}
.header-title{
    margin: 20px 40px;
}


